{%  extends 'layout/admin.html'   %}

{% block title  %}
Faq
{%  endblock   %}

{%block styles %}
    {% include 'includes/styles/datatables.html'  %}
    
{%  endblock %}
{%  block page_title  %}
Frequently Asked Questions
{% endblock  %}
<!-- include libraries(jQuery, bootstrap) -->

<!-- include summernote css/js -->


{% block breadcrumbs %}
    <li class="breadcrumb-item active">Faq</li>
    <li class="breadcrumb-item active">Create</li>
{% endblock  %}

{%block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <form action="{{ url_for('UpdateFaq',event_id = event_id,faq_id=faq.id) }}" method="post" id="userForm">
                
                    <div class="form-group mb-3">
                        <label for="name">Question</label>
                        <input autofocus type="text" id="first_name" name="question"
                            class="form-control" value="{{ faq.question }}" required />
                       
                    </div>
                    <div class="form-group mb-3">
                        <label for="Answers">Answer</label>
                        <textarea name="answer" id="summernote-basic-2" cols="30" rows="10" class="form-control">{{ faq.answer }}</textarea>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock  %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#summernote-basic-2').summernote({
                placeholder: 'Write something...',
                height: 230,
                maximumImageFileSize: 500*1024, // 500 KB
                callbacks: {
                    // fix broken checkbox on link modal
                    onInit: function onInit(e) {
                        var editor = $(e.editor);
                        editor.find('.custom-control-description').addClass('custom-control-label').parent().removeAttr('for');
                    }
                }
            });
        });
    </script>
{% endblock  %}