{%  extends 'layout/admin.html'   %}
{% set active_page = "EventUser" %}
{% block title  %}
  Users
{%  endblock   %}

{%block styles %}
    {% include 'includes/styles/datatables'  %}
{%  endblock %}

{%  block page_title  %}
Users
{% endblock  %}
<!-- include libraries(jQuery, bootstrap) -->

<!-- include summernote css/js -->


{% block breadcrumbs %}
    <li class="breadcrumb-item active">Users</li>
    <li class="breadcrumb-item active">Create</li>
{% endblock  %}

{%block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <form action="{{ url_for('UserUpdate',event_id = event_id,user_id = user.id) }}" method="post" id="userForm">
                
                    <div class="form-group mb-3">
                        <label for="name">First Name</label>
                        <input autofocus type="text" id="first_name" name="first_name"
                            class="form-control" value="{{ user.first_name }}" required />
                       
                    </div>
                    <div class="form-group mb-3">
                        <label for="name">Last Name</label>
                        <input autofocus  type="text" id="last_name" name="last_name"
                            class="form-control" value="{{ user.last_name }}" required/>
                       
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email"
                            class="form-control" value="{{ user.email }}" required/>
                    </div>
                    <div class="form-group mb-3">
                        <label for="type">Type of User</label>
                        <select class="form-control" id="user-type" name="type" required>
                            <option value="6" {%  if user.role_id == 6  %} selected="selected" {% endif %}>Attendee</option>
                            <option value="3" {%  if user.role_id == 3  %} selected="selected" {% endif %}>Exibiter</option>
                            <option value="4" {%  if user.role_id == 4  %} selected="selected" {% endif %}>Delegate</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>

                </form>
                <div id="uploader-progress" style="display: none">
                    <h3>Creating Users</h3>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}